@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
*,
*::after,
*::before {
  font-family: "jetBrains Mono", sans-serif;
}
body {
  margin: 0;
  background-color: rgb(30, 41, 59);
  color: white;
}

#root {
  width: 100%;
  margin: auto;
  max-width: 56rem /* 896px */;
}
